/*--------------------------------------------------
  Browser Upgrade
--------------------------------------------------*/

.c-browser-notice {
  padding: 20px;
  color: #FFF;
  text-align: center;
  background-color: #E53935;
  background-color: var(--danger, #E53935);
}

/*--------------------------------------------------
  Tab
--------------------------------------------------*/

.c-tab-link {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.c-tab-link__item {
  display: inline-block;
  padding: 10px 15px;
  color: #212121;
  background: none;
  cursor: pointer;
}

.c-tab-link__item.js-current {
  background: #F5F5F5;
  color: #212121;
}

.c-tab-content {
  display: none;
  color: #212121;
  background: #F5F5F5;
  padding: 15px;
}

.c-tab-content.js-current {
  display: inherit;
}

/*--------------------------------------------------
  Button
--------------------------------------------------*/

.c-button {
  display: inline-block;
  min-width: 50px;
  padding: 0 15px;
  color: #FFF !important;
  font-size: 1.5rem;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #263238;
  background-color: var(--primary, #263238);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}

.c-button:hover,
.c-button:visited,
.c-button:active,
.c-button:focus {
  text-decoration: none;
}

.c-button:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 4px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 4px -4px rgba(0, 0, 0, 0.2);
}

.c-button--block {
  display: block;
}

.c-button--large {
  min-width: 60px;
  line-height: 60px;
  border-radius: 30px;
  padding: 0 20px;
}

.c-button--light {
  color: #212121 !important;
  color: var(--dark, #212121) !important;
  background-color: #FAFAFA;
  background-color: var(--light, #FAFAFA);
}

.c-button--dark {
  color: #FAFAFA !important;
  color: var(--light, #FAFAFA) !important;
  background-color: #212121;
  background-color: var(--dark, #212121);
}

.c-button--success {
  color: #FAFAFA !important;
  color: var(--light, #FAFAFA) !important;
  background-color: #4CAF50;
  background-color: var(--success, #4CAF50);
}

.c-button--warnig {
  color: #FAFAFA !important;
  color: var(--light, #FAFAFA) !important;
  background-color: #FF5722;
  background-color: var(--warning, #FF5722);
}

.c-button--danger {
  color: #FAFAFA !important;
  color: var(--light, #FAFAFA) !important;
  background-color: #F44336;
  background-color: var(--danger, #F44336);
}

.c-button--info {
  color: #FAFAFA !important;
  color: var(--light, #FAFAFA) !important;
  background-color: #2196F3;
  background-color: var(--info, #2196F3);
}

/*--------------------------------------------------
  Card
--------------------------------------------------*/

.c-card {
  height: auto;
  color: #212121 !important;
  color: var(--dark, #212121) !important;
  background-color: #FAFAFA;
  background-color: var(--light, #FAFAFA);
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.c-card--dark {
  color: #FAFAFA !important;
  color: var(--light, #FAFAFA) !important;
  background-color: #212121;
  background-color: var(--dark, #212121);
}

.c-card__content { padding: 20px; }

/*--------------------------------------------------
  Highlight
--------------------------------------------------*/

.c-highlight {
  color: #FAFAFA !important;
  color: var(--light, #FAFAFA) !important;
  padding: 20px;
  background-color: #37474F;
  background-color: var(--secondary, #37474F);
  border-radius: 4px;
  overflow: auto;
}

.c-highlight--light {
  color: #212121 !important;
  color: var(--dark) !important;
  background-color: #FAFAFA;
  background-color: var(--light, #FAFAFA);
}

.c-highlight--dark {
  color: #FAFAFA !important;
  color: var(--light, #FAFAFA) !important;
  background-color: #212121;
  background-color: var(--dark, #212121);
}

.c-highlight--grey {
  color: #212121 !important;
  color: var(--dark, #212121) !important;
  background-color: #E0E0E0;
  background-color: var(--grey-300, #E0E0E0);
}

/*--------------------------------------------------
  Site-menu
--------------------------------------------------*/

.c-site-menu {
  position: relative;
  display: block;
  padding: 10px;
  color: #FAFAFA !important;
  color: var(--light, #FAFAFA) !important;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.c-site-menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.c-site-menu__inner {
  position: relative;
  display: block;
  width: inherit;
  height: 3px;
  background-color: #FAFAFA;
  background-color: var(--light, #FAFAFA);
}

.c-site-menu__inner::after,
.c-site-menu__inner::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FAFAFA;
  background-color: var(--light, #FAFAFA);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.c-site-menu__text { margin: 4px 0 0; }
.c-site-menu__inner::before { top: -8px; }
.c-site-menu__inner::after { bottom: -8px; }

.c-site-menu.js-active .c-site-menu__inner { background-color: rgba(0, 0, 0, 0); }
.c-site-menu.js-active .c-site-menu__inner::before { top: 0; -webkit-transform: rotate(-40deg); transform: rotate(-40deg); }
.c-site-menu.js-active .c-site-menu__inner::after { bottom: 0; -webkit-transform: rotate(40deg); transform: rotate(40deg); }

/*--------------------------------------------------
  Site-nav
--------------------------------------------------*/

.c-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.c-site-nav__item {
  height: 50px;
  overflow: hidden;
}

.c-site-nav__item a {
  display: block;
  padding: 0 10px;
  color: #FFF;
  font-size: 1.6rem;
  line-height: 50px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 992px) {

  .c-site-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .c-site-nav__item a { padding: 0 10px; }

  .c-site-nav__item a:hover,
  .c-site-nav__item--active a {
    background-color: #263238;
    background-color: var(--primary, #263238)
  }

}

/*--------------------------------------------------
  Site-branding
--------------------------------------------------*/

.c-site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  color: #FFFFFF !important;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none !important;
  line-height: 1;
  white-space: nowrap;
}

.c-site-branding__logo {
  max-width: 100%;
  max-height: calc(100% - 20px);
}

.c-site-branding__title {
  padding-left: 10px;
  font-size: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 992px) {

  .c-site-branding {
    height: 75px;
    font-size: 2.8rem;
  }

}

/*--------------------------------------------------
  Heading
--------------------------------------------------*/

.c-heading-above-the-fold,
.c-heading-section {
  font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--font-family-sans-serif-condensed, "Open Sans Condensed");
}

.c-heading-above-the-fold {
  color: #263238;
  color: var(--primary, #263238);
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.c-heading-section {
  color: #212121;
  color: var(--grey-700, #212121);
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}

.c-heading-article {
  color: #37474F;
  color: var(--grey-900, #37474F);
  font-size: 1.6rem;
}

@media (min-width: 992px) {

  .c-heading-above-the-fold {
    font-size: 3.5rem;
  }

  .c-heading-section {
    font-size: 2.8rem;
  }

  .c-heading-article {
    font-size: 1.8rem;
  }

}
